packages: [
  "activate-power-mode"
  "atom-beautify"
  "atom-clock"
  "atom-ternjs"
  "comment-anchors"
  "duotone-dark-earth-syntax"
  "duotone-dark-forest-syntax"
  "duotone-light-blue-syntax"
  "duotone-light-syntax"
  "duotone-stark-sea-syntax"
  "fonts"
  "git-time-machine"
  "history-tracker"
  "language-markdown"
  "linter"
	"maximize-panes"
  "minimap"
  "nord-atom-syntax"
  "northem-light-atom-ui"
  "no-title-bar"
  "package-sync"
  "pane-layout-plus"
  "pretty-json"
  "react"
  "relative-numbers"
  "save-workspace"
  "scroll-searcher"
  "spec-tree-view"
  "symbols-tree-view"
  "tree-view-autoresize"
  "tree-view-git-status"
]
